<div class="login-container">

   <!-- Error Alert -->
   <nz-alert
      *ngIf="uiState.error.isVisible"
      nzType="error"
      nzCloseable
      [nzDescription]="uiState.error.message"
      (nzOnClose)="uiState.error.isVisible = false"
      style="margin-bottom: 15px;">
   </nz-alert>

   <!-- Login Form -->
   <form nz-form [formGroup]="loginFormGroup" class="login-form" (ngSubmit)="onLogin()" novalidate>

      <h1>Sign In</h1>

      <!-- Username/Email -->
      <nz-form-item>
         <nz-form-control nzErrorTip="Please input your username!">
            <nz-input-group nzPrefixIcon="user">
               <input formControlName="addressOrEmail" nz-input type="text" class="form-control" placeholder="Username or Email" required>
            </nz-input-group>
         </nz-form-control>
      </nz-form-item>

      <!-- Password -->
      <nz-form-item>
         <nz-form-control nzErrorTip="Please input your Password!">
            <nz-input-group nzPrefixIcon="lock">
               <input formControlName="password" nz-input type="password" class="form-control" placeholder="Password" required>
            </nz-input-group>
         </nz-form-control>
      </nz-form-item>

      <button nz-button [nzType]="'primary'" [nzLoading]="uiState.isLoading" type="submit">Login</button>

   </form>

</div>
