<div class="container" style="width: 50%">

   <form [formGroup]="loginFormGroup" (submit)="onLogin()" style="margin-top:20%" novalidate>

      <!-- Address or Email Input -->
      <div class="form-group">
         <label for="addressOrEmailCtrl">User Address or Email</label>
         <input formControlName="addressOrEmailCtrl" type="text" class="form-control" placeholder="User Address or Email..." required>
      </div>

      <!-- Password Input -->
      <div class="form-group">
         <label for="password">Password</label>
         <input formControlName="passwordCtrl" type="password" class="form-control" placeholder="Password..." required>
      </div>

      <!-- Form Submit -->
      <input type="submit" value="Login" class="btn btn-primary">

   </form>

</div>
