<div class="container" style="width: 50%">
   
   <form [formGroup]="registrationFormGroup" (submit)="onRegistration()" style="margin-top:20%" novalidate>

      <!-- Email Input -->
      <div class="form-group">
         <label for="email">Email</label>
         <input formControlName="emailCtrl" type="text" class="form-control" placeholder="Email..." required>
      </div>

      <!-- Password Input -->
      <div class="form-group">
         <label for="password">Password</label>
         <input formControlName="passwordCtrl" type="password" class="form-control" placeholder="Password..." required>
      </div>

      <!-- Form Submit -->
      <input type="submit" value="Register" class="btn btn-primary">

   </form>

</div>
