<div class="about-page-container">

	<div class="header flex-container">
		<div class="flex-centered">
			<span>EHRoute</span>
			<p>A secure, and free Electronic Health Records (EHR) storage, management, and sharing solution.</p>
		</div>
	</div>

	<div class="content boxed-content flex-container">
		<p class="flex-centered">
			This desktop application serves as a proof-of-concept for the proposed semi-centralized architecure. This project proves the feasibility of a software 
			architecture where clients store their data locally and share it through a central server that works as a message broker between the clients. Consisting
         of networks, where patients' data transfer are governed by themselves, and where healthcare providers are able to access and manage the EHRs of their networks.
		</p>
	</div>

</div>
