<div class="navbar flex-container">

   <!-- Brand/Logo -->
   <div *ngIf="innerWidth>600" class="nav-logo flex-container">
      <img src="https://i.imgur.com/1CHjYsG.png" alt="EHRoute" class="flex-centered">
   </div>

   <!-- Navbar Items -->
   <div class="nav-items flex-container">

      <div class="flex-centered">
         <app-nav-search></app-nav-search>
      </div>

      <div class="flex-centered">
         <app-nav-user-notifications></app-nav-user-notifications>
      </div>

      <div class="flex-centered">
         <app-nav-user-menu></app-nav-user-menu>
      </div>

   </div>

</div>
