.navbar {
   height: 4em;
   z-index: 1001;
   display: flex;
   justify-content: flex-start;
   background-color: #ffffff;
   border-bottom: 1px solid rgb(233, 233, 233);
}

.nav-items {
   margin-right: 0;
   margin-left: auto;
}

.nav-logo {
   margin-left: 0;
   margin-right: auto;
}

.nav-logo img {
   width: 150px;
   height: 27px;
   margin: auto;
}

@media screen and (max-width: 600px) {
   .navbar {
      height: 5em;
   }
}
