<div class="main-wrapper boxed-content floating">
   <div class="logo">
      <img src="https://camo.githubusercontent.com/292fc95581643ebf4c22e28013945a5947b51d1b/68747470733a2f2f692e696d6775722e636f6d2f37474c77336e702e706e67" alt="EHRoute Logo Image">
   </div>
   
   <h5 class="text">
      EHR Route is an open source Electronic Health Records (EHR) sharing and storage solution that aims to prevent the most common causes of 
      EHRs data breaches. It closes gap between healthcare providers and patients, and ensures patients complete privacy and engagement in the 
      process.
   </h5>
</div>
