<!-- ----------------------------------------------------------------------- -->
<!--                           No Network Message                            -->
<!-- ----------------------------------------------------------------------- -->
<!-- #region -->

<div *ngIf="!userHasNetworks && !uiState.isLoading" class="boxed-content">
   <h2>You have no network</h2>
   <p>You can only display EHRs if you're a member of a network</p>
</div>

<div *ngIf="userHasNetworks && records.length == 0 && !uiState.isLoading" class="boxed-content">
   <h2>No EHRs Available</h2>
   <p>Ask patients for their EHRs consent</p>
</div>

<!-- #endregion -->


<!-- ----------------------------------------------------------------------- -->
<!--                                EHRs List                                -->
<!-- ----------------------------------------------------------------------- -->
<!-- #region -->

<div *ngIf="userHasNetworks && !uiState.isLoading" class="records">
   <ul *ngIf="records.length > 0" class="records-list">
      <li *ngFor="let record of records" class="record-item">
         
         <a (click)="viewRecordDetails(record)" href="javascript:void(0)" class="record-card">
            <div class="user-info-avatar">
               <img src="https://cdn1.iconfinder.com/data/icons/circle-outlines/512/User_Account_Avatar_Person_Profile_Login_Human-512.png" alt="User avatar icon">
            </div>
            <h4 style="text-align: center;">{{record.recordData.patientData.name}}</h4>
            <hr>
            <h6>
               {{record.recordData.patientData.gender}} <br>
               {{record.recordData.patientData.address}}
            </h6>
         </a>

      </li>
   </ul>
</div>

<!-- #endregion -->


<!-- ----------------------------------------------------------------------- -->
<!--                               Pagination                                -->
<!-- ----------------------------------------------------------------------- -->
<!-- #region -->

<nz-pagination
   *ngIf="totalPagesNumber"
   (nzPageIndexChange)="changePageNumber($event)" 
   (nzPageSizeChange)="changePageSize($event)" 
   [nzPageIndex]="1" 
   [nzTotal]="totalPagesNumber"
   [nzPageSizeOptions]="[8, 16, 32]"
   nzShowSizeChanger
   class="records-pagination">
</nz-pagination>

<!-- #endregion -->


<!-- ----------------------------------------------------------------------- -->
<!--                                 Loader                                  -->
<!-- ----------------------------------------------------------------------- -->
<!-- #region -->

<div *ngIf="uiState.isLoading" class="loader flex-container" style="height: 100vh; z-index: 1000;">
   <nz-spin nzTip="Loading Health Records..." [nzSize]="'large'" class="flex-centered" style="width: 100%;"></nz-spin>
</div>

<!-- #endregion -->
